
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

svg {
    padding: 0.009rem;
    margin: 3px;
}

a {
    text-decoration: none;
}

html {
   
    --bg-color: #EDF2FF;
    --text-color:  	#000000;
    --primary-color: #66CDAA;
    --primary-color-dark: #364FC7;
}

body.dark-blue{
    --bg-color: #00082F;
    --text-color: #66CDAA;
}



body {
    background-image: url('./assets/background-image.PNG');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

.container {
    text-align: center;
    width: 300px;
    margin: 60px auto;
}



h1 {
    font-family: 'Julius Sans One', monospace;
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    --text-color: #FFF0F6;
}

.simpletext {
    font-family: 'Julius Sans One', monospace;
    font-weight: 400;
    opacity: 0.8;
    font-size: 1.125rem;
    --text-color: #FFF0F6;
}

ul {
    list-style: none;
    margin: 3rem 0;
}


ul li a {
    font-family: 'Julius Sans One', monospace;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: white;
    text-transform: uppercase;
    font-size: 14px;

    margin-bottom: 16px;
    border-radius: 6px;

    transition: background 400ms;
}

ul li a:hover {
    background-color: var(--primary-color-dark);
}

/** Content **/
.content { 
    color: #66CDAA;
    height: 150px;
    text-align: justify;
}
/** Content **/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 0.75rem;
    opacity: 0.6;
    transition: opacity 400ms;
    margin-top: 100px;
    margin-bottom: 50px;
}

footer:hover {
    opacity: 1;
}



